@import "colors";
@import "variables";

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $background-color;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: ($header-height + 8px) 0 0 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
