.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  height: 225px;
  margin: 8px;
  max-width: 100%;
  position: relative;
  width: 300px;

  @media screen and (max-width: 380px) {
    height: 180px;
    width: 240px;
  }

  img {
    max-width: 100%;
    position: absolute;
  }

  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  }
}
