{
  "extends": "google",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-vars": 1,
    "indent": [2, 2, {"SwitchCase": 1}],
    "space-before-function-paren": 0,
    "default-case": 0,
    "require-jsdoc": 0
  }
}
